<h2>Dishes</h2>

<%= link_to "New Dish", new_dish_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tfoot></tfoot>
  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td>
          <%= link_to dish.name, dish_path(dish) %>
        </td>
      </tr>
    <% end  %>
  </tbody>
</table>