<h2>Dishes</h2>

<ul class="actions">
  <li class="positive action">
    <%= link_to "New Dish", new_dish_path %>
  </li>
</ul>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tfoot></tfoot>
  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td>
          <%= link_to dish.name, dish_path(dish) %>
        </td>
      </tr>
    <% end  %>
  </tbody>
</table>