/* line 2, ../../../sass/formtastic.sass */
/* line 4, ../../../sass/formtastic.sass */
form.formtastic fieldset {
  margin: 0;
  padding: 0;
}
/* line 7, ../../../sass/formtastic.sass */
form.formtastic ul.errors {
  color: #cc0000;
  margin: 0.5em 0 1.5em 25%;
  list-style: square;
}
/* line 11, ../../../sass/formtastic.sass */
form.formtastic ul.errors li {
  padding: 0;
  border: none;
  display: list-item;
}
/* line 15, ../../../sass/formtastic.sass */
form.formtastic fieldset {
  overflow: auto;
}
/* line 17, ../../../sass/formtastic.sass */
form.formtastic fieldset.buttons {
  padding-left: 25%;
}
/* line 19, ../../../sass/formtastic.sass */
form.formtastic fieldset.buttons li {
  float: left;
  padding-right: 0.5em;
}
/* line 22, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li {
  padding: 0.5em 0;
  margin-top: -0.5em;
  margin-bottom: 1em;
  overflow: auto;
}
/* line 27, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li label {
  display: block;
  width: 25%;
  float: left;
  padding-top: 0.2em;
}
/* line 32, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li > li label {
  line-height: 100%;
  padding-top: 0;
}
/* line 35, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li > li label input {
  line-height: 100%;
  vertical-align: middle;
  margin-top: -0.1em;
}
/* line 39, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li fieldset {
  position: relative;
}
/* line 41, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li fieldset legend {
  position: absolute;
  width: 95%;
  padding-top: 0.1em;
  left: 0px;
}
/* line 46, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li fieldset legend span, form.formtastic fieldset > ol > li fieldset legend.label label {
  position: absolute;
}
/* line 48, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li fieldset ol {
  float: left;
  width: 74%;
  margin: 0;
  padding: 0 0 0 25%;
}
/* line 53, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li fieldset ol li {
  padding: 0;
  border: 0;
}
/* line 57, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li p.inline-hints {
  color: #666666;
  margin: 0.5em 0 0 25%;
}
/* line 60, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li p.inline-errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
}
/* line 63, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li ul.errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
  list-style: square;
}
/* line 67, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li ul.errors li {
  padding: 0;
  border: none;
  display: list-item;
}
/* line 71, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li.string input, form.formtastic fieldset > ol > li.password input, form.formtastic fieldset > ol > li.numeric input, form.formtastic fieldset > ol > li.email input, form.formtastic fieldset > ol > li.url input, form.formtastic fieldset > ol > li.phone input, form.formtastic fieldset > ol > li.search input {
  width: 72%;
}
/* line 73, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li.string input[size], form.formtastic fieldset > ol > li.password input[size], form.formtastic fieldset > ol > li.numeric input[size], form.formtastic fieldset > ol > li.email input[size], form.formtastic fieldset > ol > li.url input[size], form.formtastic fieldset > ol > li.phone input[size], form.formtastic fieldset > ol > li.search input[size] {
  width: auto;
  max-width: 72%;
}
/* line 76, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li.text textarea {
  width: 72%;
}
/* line 78, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li.text textarea[cols] {
  width: auto;
  max-width: 72%;
}
/* line 81, ../../../sass/formtastic.sass */
form.formtastic fieldset ol li.hidden {
  display: none;
}
/* line 84, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li.boolean label {
  padding-left: 25%;
  width: auto;
}
/* line 87, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li.boolean label input {
  margin: 0 0.5em 0 0.2em;
}
/* line 89, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li.radio fieldset, form.formtastic fieldset > ol > li.check_boxes fieldset {
  overflow: visible;
}
/* line 91, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li.radio fieldset ol, form.formtastic fieldset > ol > li.check_boxes fieldset ol {
  margin-bottom: -0.5em;
}
/* line 93, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li.radio fieldset ol li, form.formtastic fieldset > ol > li.check_boxes fieldset ol li {
  margin: 0.1em 0 0.5em 0;
  overflow: visible;
}
/* line 96, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li.radio fieldset ol li label, form.formtastic fieldset > ol > li.check_boxes fieldset ol li label {
  float: none;
  width: 100%;
}
/* line 99, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li.radio fieldset ol li label input, form.formtastic fieldset > ol > li.check_boxes fieldset ol li label input {
  margin-right: 0.2em;
}
/* line 101, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li.date fieldset ol li, form.formtastic fieldset > ol > li.time fieldset ol li, form.formtastic fieldset > ol > li.datetime fieldset ol li {
  float: left;
  width: auto;
  margin: 0 0.3em 0 0;
}
/* line 105, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li.date fieldset ol li label, form.formtastic fieldset > ol > li.time fieldset ol li label, form.formtastic fieldset > ol > li.datetime fieldset ol li label {
  display: none;
}
/* line 107, ../../../sass/formtastic.sass */
form.formtastic fieldset > ol > li.date fieldset ol li label input, form.formtastic fieldset > ol > li.time fieldset ol li label input, form.formtastic fieldset > ol > li.datetime fieldset ol li label input {
  display: inline;
  margin: 0;
  padding: 0;
}

/* line 5, ../../../sass/formtastic.sass */
/* line 9, ../../../sass/formtastic.sass */
/* line 13, ../../../sass/formtastic.sass */
/* line 16, ../../../sass/formtastic.sass */
/* line 19, ../../../sass/formtastic.sass */
/* line 22, ../../../sass/formtastic.sass */
/* line 28, ../../../sass/formtastic.sass */
/* line 33, ../../../sass/formtastic.sass */
/* line 36, ../../../sass/formtastic.sass */
/* line 40, ../../../sass/formtastic.sass */
/* line 42, ../../../sass/formtastic.sass */
/* line 47, ../../../sass/formtastic.sass */
/* line 49, ../../../sass/formtastic.sass */
/* line 54, ../../../sass/formtastic.sass */
/* line 58, ../../../sass/formtastic.sass */
/* line 61, ../../../sass/formtastic.sass */
/* line 64, ../../../sass/formtastic.sass */
/* line 68, ../../../sass/formtastic.sass */
/* line 72, ../../../sass/formtastic.sass */
/* line 74, ../../../sass/formtastic.sass */
/* line 77, ../../../sass/formtastic.sass */
/* line 79, ../../../sass/formtastic.sass */
/* line 82, ../../../sass/formtastic.sass */
/* line 85, ../../../sass/formtastic.sass */
/* line 88, ../../../sass/formtastic.sass */
/* line 90, ../../../sass/formtastic.sass */
/* line 92, ../../../sass/formtastic.sass */
/* line 94, ../../../sass/formtastic.sass */
/* line 97, ../../../sass/formtastic.sass */
/* line 100, ../../../sass/formtastic.sass */
/* line 102, ../../../sass/formtastic.sass */
/* line 106, ../../../sass/formtastic.sass */
/* line 108, ../../../sass/formtastic.sass */
