<h2><%= @recipe.name %></h2>

<ul class="actions">
  <li class="positive action">
    <%= link_to 'Add Ingredient', new_recipe_ingredient_path(@recipe) %>
  </li>
  <li class="positive action">
    <%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %>
  </li>
</ul>

<h3>Ingredients</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tfoot></tfoot>
  <tbody>
    <% @recipe.ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>