<div class="section-heading">
  <h2>Menus</h2>

  <ul class="actions">
    <li class="positive action">
      <%= link_to "New Menu", new_menu_path, :class => 'add icon' %>
    </li>
  </ul>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tfoot></tfoot>
  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td>
          <%= link_to menu.name, menu_path( menu ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>