<h2><%= @menu.name %></h2>

<ul class="actions">
  <li class="positive action">
    <%= link_to 'Edit Menu', edit_menu_path(@menu) %>
  </li>
  <li class="positive action">
    <%= link_to 'New Item', new_menu_item_path(@menu) %>
  </li>
</ul>

<table>
  <thead>
    <tr>
      <th>Dish</th>
    </tr>
  </thead>
  <tfoot></tfoot>
  <tbody>
    <% @menu.items.each do |item| %>
      <tr>
        <td>
          <%= item.dish.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>